### IDE
**/.idea/
**/.vscode/
**/*.code-workspace

### Caches
**/__pycache__/
**/cache/
**/*tree-tagger-linux*
**/.pytest_cache

### Binaries
**/*.jar

### Notebooks
# expect examples per domain
./*.ipynb
**/.ipynb_checkpoints/
